.header {
    padding: 20px;
    margin-bottom: 30px;
}

.product {
    padding: 20px;
    border: 2px solid gold;
    border-radius: 10px;
    margin-bottom: 20px;
}

img {
    height: 300px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: #222;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

/* .menu a:nth-child(2) {
  flex-grow: 1;
} */

.menu a {
    display: inline-block;
    padding: 12px 18px;
    margin-right: 10px;
    background-color: #555;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background-color: #888;
}

.menu a.active {
    background-color: #0088cc;
}

.menu a.hidden {
    display: none;
}

#tov1 {
    float: left;
}

